</main>
    <footer class="footer py-4 border-top">
        <div class="container text-center">
            <p>&copy; 2026 Kelompok A10 - Pengelolaan Kerjasama FTI</p>
        </div>
    </footer>
</body>
</html>